:root {
    --num-of-grid-columns: 5;
}

body {
    display: flex;
    justify-content: center;
}
.photos-containter {
    /* border: 2px solid magenta; */
    width: 45rem;
    /* height: 95vh; */
    display: grid;
    grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
    gap: 5px;
    grid-auto-rows: calc(40rem / var(--num-of-grid-columns));
    grid-auto-flow: dense;
}

.photos-containter__img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    /* border: 2px solid skyblue; */
}